# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
.env.*
*.local

# Virtual environments
venv/
.venv/
env/

# Operating System & IDE files
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
